CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

.vs
out
/enc_temp_folder/cbafb681b23ad2131cd0399ef0cb26/ti_im_inspector.cpp
